html, body{
    height: 100%;
}

.size-item{
    text-align: center;
    background-color: #c09;
    width: 100%;
    display: block;
    color: white;
    text-transform: capitalize;
    padding: 30% 0;
}

[resize-test]{
    height: 100%;
}

[resize-test] .row{
    height: 100%;
}
